<html>
<link href="/css/style.css" type="text/css" rel="stylesheet">
<head>

    <div class="grid-container">
        <div class="grid-item-no-border"><img src="/img/corda.png"/></div>
        <div class="grid-item-no-border"><h1>{{title}}</h1></div>
        <div class="grid-item-no-border"><img src="/img/apple.png"/></div>
    </div>

</head>
<body>